body {
  width: 170px;
  padding: 10px;
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  margin-bottom: 5px;
}
